src/**
out/**
node_modules/**
.vscode/**
*.ts
!dist/**
!media/**
esbuild.config.js
fix-html.js
fix-html2.js
gen-icon.js
find-error.js
check-js.js
tsconfig.json
jest.config.js
**/*.test.ts
**/*.test.js
**/__mocks__/**
**/__tests__/**
.gitignore
.eslintrc*
.prettierrc*
CHANGELOG.md
